{% extends "base.html" %}

{% block content %}
<h2>Public Documents</h2>

<ul class="list-group mt-3">
    <li class="list-group-item">
        Communications Regulatory Authority Act
        <a href="#" class="btn btn-sm btn-primary float-end">Download</a>
    </li>

    <li class="list-group-item">
        Telecommunications Act
        <a href="#" class="btn btn-sm btn-primary float-end">Download</a>
    </li>

    <li class="list-group-item">
        Postal Services Act
        <a href="#" class="btn btn-sm btn-primary float-end">Download</a>
    </li>
</ul>
{% endblock %}