{% extends "base.html" %}

{% block content %}
<h2>Submit Complaint</h2>

<form method="POST" class="mt-3">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.category.label_tag }}
        {{ form.category }}
    </div>

    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>

    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}